# Your OpenAI API key for accessing OpenAI services
OPENAI_API_KEY=your-openai-api-key-here

# The LLM model
LLM_MODEL=gpt-4o-mini

# The LLM max number of tokens
LLM_MAX_TOKENS=128000

# The embedding model
EMBEDDING_MODEL=text-embedding-3-small

# The dimension of the embeddings used by OpenAI
EMBEDDING_DIM=1536

# Max chunk size for embeddings
CHUNK_SIZE_MAX=512

# Path to the FAISS index file
FAISS_INDEX_PATH=../embeddings/faiss_index.bin

# Path to the metadata file associated with the FAISS index
METADATA_PATH=../embeddings/metadata.pkl

# Path to the docstore file for storing documents
DOCSTORE_PATH=../embeddings/docstore.pkl

# Path to the folder containing documents to be ingested
INGEST_PATH=../ingest

# The system prompt used by the chatbot to generate responses
SYSTEM_PROMPT=Please only provide responses based on the information provided. If it is not available, please let me know.

# Threshold for document similarity; documents with a similarity score below this value will be ignored
SIMILARITY_THRESHOLD=0.1

# The number of top similar results to be considered for generating responses
TOP_SIMILARITY_RESULTS=2